{
  "presets": [
    ["@babel/preset-env", { "targets": "> 0.25%, not dead" }]
  ],
  "plugins": [
    "transform-vue-jsx"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
